<h1>Pirate</h1>
<div class="Pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h3>Pirate Height: <%=@pirate.weight %></h3>
  <h3>Pirate Weight: <%=@pirate.height %></h3>
</div><br>

<h2>Pirate Ships</h2>
<%@ships.each do |ship| %>
<div class="Ship">
<h3>Name: <%=ship.name%></h3>
<h3>Pirate Type: <%=ship.type%></h3>
<h3>Pirate Booty: <%=ship.booty %></h3>
</div><br>
<%end%>
